# Игнорирование папки сборки
/build/

# Игнорирование директорий с бинарными и объектными файлами
[Bb]in/
[Oo]bj/

# Игнорирование временных файлов Visual Studio
.vs/
*.suo
*.user
*.userosscache
*.sln.docstates

# Игнорирование результатов тестирования
TestResults/

# Игнорирование NuGet пакетов и кэша
*.nupkg
packages/
.nuget/
